<!DOCTYPE html>
<html>
 <head>
<% include ../head %>
</head>
<body>

	 <div class="wrapper bg">
				      <% include ../header %>
   <section class="main container-fluid">
            <div class="hero">
                <h1>Welcome!
                    <br> ST2DE
                </h1>
                <h2>Team WY :D</h2>
            </div>
            <div class="person">
                <div class="person__item">
										<div class="img" style="background: url('/public/img/self-01.png') ;
                        background-size: cover;
                        background-position: center;
                        "> 
												<a href="/s0522001">
                            <div class="text">Hello World</div>
                        </a>
                    </div>
                </div>
                <div class="person__item">
										<div class="img" style="background: url('/public/img/self-01.png') ;
                        background-size: cover;
                        background-position: center;
                        ">   
												<a href="/eliane">
                            <div class="text">Hello World</div>
                        </a>
                    </div>
                </div>
                <div class="person__item">
										<div class="img" style="background: url('/public/img/self-01.png') ;
                        background-size: cover;
                        background-position: center;
                        ">                               
												<a href="/chungfushih">
                            <div class="text">Hello World</div>
                        </a>
                    </div>
                </div>
                <div class="person__item">
										<div class="img" style="background: url('/public/img/self-01.png') ;
                        background-size: cover;
                        background-position: center;
                        ">                               
												<a href="/ashu">
                            <div class="text">Hello World</div>
                        </a>
                    </div>
                </div>
            </div>

        </section>
	<footer>
    <% include ../footer %>
	</footer>
</div>
	  <script src="/public/js/main.js"></script>
	</body>
</html>